@charset "UTF-8";
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #e8e8e8;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-menu {
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

.main-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-align: center;
}

.main-menu li {
  text-align: center;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 13px 14.5px;
}

@media (max-width: 749px) {
  .main-menu {
    display: none;
    background: url("../img/menu-bg.png") repeat right center;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    width: 100%;
    z-index: 15;
  }
  .main-menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .main-menu li {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid #f26c4f;
    padding: 0 0;
    display: block;
  }
  .main-menu li:hover, .main-menu li:focus {
    background-color: rgba(77, 77, 77, 0.5);
  }
  .main-menu li a {
    padding: 13px 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.cards {
  position: relative;
}

.cards::after {
  content: '';
  display: block;
  width: 98.25397%;
  margin: 0 auto;
  height: 2px;
  background-color: #fefefe;
  position: absolute;
  bottom: -4px;
  left: 0.87302%;
  z-index: -1;
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}

.cards::before {
  content: '';
  display: block;
  width: 96.66667%;
  margin: 0 auto;
  height: 2px;
  background-color: #fefefe;
  position: absolute;
  bottom: -7px;
  left: 1.66667%;
  z-index: -1;
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}

.big-article {
  margin-bottom: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 630px;
}

@media (max-width: 785px) {
  .big-article {
    max-width: 100%;
  }
}

.big-article .description {
  max-width: 630px;
  padding-top: 5.71429%;
  padding-left: 5.55556%;
  padding-right: 5px;
  padding-bottom: 20px;
}

@media (max-width: 785px) {
  .big-article .description {
    max-width: 100%;
  }
}

.big-article .description h2 {
  font-size: 1.875rem;
  line-height: 2.125rem;
}

.big-article .description h3 {
  margin-left: 1px;
  margin-top: 26px;
  color: #f26c4f;
  font-size: 1rem;
  line-height: 2.125rem;
}

.big-article .description p {
  margin-left: 2px;
  line-height: 1.25rem;
  font-size: 0.875rem;
  margin-top: 5px;
  padding-right: 7.93651%;
}

.small-articles {
  max-width: 608px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 785px) {
  .small-articles {
    max-width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 23px;
  }
}

@media (max-width: 420px) {
  .small-articles {
    margin-bottom: 0;
  }
}

.small-articles .description {
  padding-left: 12.5%;
  padding-top: 12.5%;
  padding-bottom: 35px;
  padding-right: 14.28571%;
}

.small-articles .description h2 {
  font-size: 1rem;
  line-height: 1.375rem;
  margin-left: -1px;
}

.small-articles .description p {
  margin-top: 12px;
  font-size: 0.75rem;
  color: #959595;
  line-height: 1.125rem;
}

.small-article {
  min-width: 200px;
  width: 50%;
  max-width: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 420px) {
  .small-article {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
  }
}

.small-article img {
  margin-bottom: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  position: relative;
  margin-bottom: 6px;
  width: 100%;
}

.slider input[type="radio"] {
  display: none;
}

.slider::before, .slider::after {
  display: block;
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 23px;
  left: 15px;
  width: 50%;
  top: 70%;
  -webkit-box-shadow: 0 18px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 18px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.slider::after {
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
  right: 15px;
  left: auto;
}

.slider .switches {
  position: absolute;
  bottom: 16px;
  width: 100%;
  left: 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
}

.slider .switches label {
  width: 14px;
  display: inline-block;
  height: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#b4b4b3), to(#ffffff));
  background: -webkit-linear-gradient(bottom, #b4b4b3, #ffffff);
  background: -o-linear-gradient(bottom, #b4b4b3, #ffffff);
  background: linear-gradient(to top, #b4b4b3, #ffffff);
  outline: none;
  cursor: pointer;
  margin: 1px;
}

.slider #slide-1:checked ~ .switches label[for="slide-1"],
.slider #slide-2:checked ~ .switches label[for="slide-2"],
.slider #slide-3:checked ~ .switches label[for="slide-3"],
.slider #slide-4:checked ~ .switches label[for="slide-4"],
.slider #slide-5:checked ~ .switches label[for="slide-5"] {
  background: -webkit-gradient(linear, left bottom, left top, from(#353533), to(#414141));
  background: -webkit-linear-gradient(bottom, #353533, #414141);
  background: -o-linear-gradient(bottom, #353533, #414141);
  background: linear-gradient(to top, #353533, #414141);
}

.slider .socials {
  position: absolute;
  bottom: 9.375%;
  left: 9.44882%;
}

.slider .socials a {
  margin-top: 8px;
  display: block;
  background: #f26c4f;
  padding: 13px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.slider .socials a:hover, .slider .socials a:focus {
  background: #cc310f;
}

.slider .socials a:active {
  -webkit-box-shadow: #fff 0px 0px 5px 1px;
          box-shadow: #fff 0px 0px 5px 1px;
}

.slider .socials a i {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 22px;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}

header {
  background-image: url("../img/header-bg.jpg");
  padding-top: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 28px;
  padding-bottom: 47px;
  background-color: black;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset rgba(53, 53, 51, 0.3) 0 0 0 100px, rgba(53, 53, 51, 0.3) 0 0 0 5px;
          box-shadow: inset rgba(53, 53, 51, 0.3) 0 0 0 100px, rgba(53, 53, 51, 0.3) 0 0 0 5px;
}

header .wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.logo {
  width: 21.32653%;
  min-width: 115px;
  max-width: 209px;
  padding-top: 3px;
  padding-bottom: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #f26c4f;
}

@media (min-width: 750px) and (max-width: 785px) {
  .logo {
    width: 115px;
  }
}

@media (max-width: 749px) {
  .logo {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}

.top-line {
  background: url("../img/menu-bg.png") repeat right center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.top-line:before {
  content: '';
  background-color: #f26c4f;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.top-line:after {
  content: '';
  background: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ .main-menu {
  display: block;
}

.burger {
  text-shadow: 1px 1px 5px black;
  font-size: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 40px;
  height: 40px;
}

@media (min-width: 750px) {
  .burger {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 785px) {
  .main {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title,
.title a {
  color: #3a3e3f;
}

a:hover,
a:focus {
  color: #f05837;
}

:active, :hover, :focus {
  outline: none;
}

.content {
  max-width: 630px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 785px) {
  .content {
    max-width: 100%;
  }
}

.content img {
  max-width: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d7d7d7;
  background-color: #fefefe;
  padding: 6px;
}

.description {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d7d7d7;
  /* Уголок */
}

.description h2::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  border-left: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  background-color: #fefefe;
  z-index: 5;
  top: -12px;
  left: 75px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.description p {
  color: #959595;
  word-wrap: break-word;
}

.lines {
  background-color: #fefefe;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.01) 2px, transparent 1px);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.01) 2px, transparent 1px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.01) 2px, transparent 1px);
  -webkit-background-size: 25px 15px;
          background-size: 25px 15px;
}

.sidebar {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 10px;
  margin-top: 2px;
  max-width: 327px;
  padding-left: 3.16327%;
  padding-top: 31px;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d7d7d7;
}

@media (max-width: 785px) {
  .sidebar {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    max-width: 100%;
    margin-left: 0;
    width: 100%;
  }
}

.sidebar h2 {
  font-size: 1rem;
  line-height: 1.375rem;
}

.sidebar p {
  font-size: 0.75rem;
  color: #959595;
  line-height: 1.125rem;
}

.sidebar .lorem {
  margin-bottom: 28px;
}

.sidebar .lorem h3 {
  margin-top: 4px;
  font-size: 0.75rem;
  line-height: 2.125rem;
  color: rgba(174, 174, 174, 0.8);
  font-style: italic;
  font-weight: normal;
}

.sidebar .lorem p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #959595;
  padding-right: 15.45455%;
}

.sidebar .subscribe {
  margin-bottom: 55px;
  padding-right: 20px;
}

.sidebar .subscribe p {
  font-size: 0.6875rem;
  line-height: 1rem;
  color: rgba(58, 58, 58, 0.9);
  margin-left: 3px;
  margin-top: 6px;
}

.sidebar .subscribe form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 5px;
  max-width: 268px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-left: 13px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #3a3a3a;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0px 10px 5px -9px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0px 10px 5px -9px rgba(0, 0, 0, 0.07);
}

.sidebar .subscribe form .btn {
  cursor: pointer;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-width: 105px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: normal;
}

.sidebar .subscribe input[type="text"] {
  outline: none;
  min-width: 0;
  width: 100%;
  max-width: 135px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #3a3a3a;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar .subscribe input[type="text"]::-webkit-input-placeholder {
  color: rgba(198, 198, 198, 0.8);
}

.sidebar .subscribe input[type="text"]:-ms-input-placeholder {
  color: rgba(198, 198, 198, 0.8);
}

.sidebar .subscribe input[type="text"]::-ms-input-placeholder {
  color: rgba(198, 198, 198, 0.8);
}

.sidebar .subscribe input[type="text"]::placeholder {
  color: rgba(198, 198, 198, 0.8);
}

.sidebar .subscribe input[type="text"]::input-placeholder {
  font-size: 0.75rem;
  line-height: 1.5rem;
  vertical-align: middle;
}

.sidebar .btn,
.sidebar .btn a {
  padding: 7px 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#dddddd), to(#eeeeee));
  background: -webkit-linear-gradient(bottom, #dddddd, #eeeeee);
  background: -o-linear-gradient(bottom, #dddddd, #eeeeee);
  background: linear-gradient(to top, #dddddd, #eeeeee);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid rgba(140, 140, 140, 0.1);
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #555555;
  -webkit-box-shadow: 0 2px 0px 0px rgba(153, 153, 153, 0.6), inset 0 1px 0px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0 2px 0px 0px rgba(153, 153, 153, 0.6), inset 0 1px 0px 0px rgba(255, 255, 255, 0.8);
}

.sidebar .btn:hover, .sidebar .btn:focus,
.sidebar .btn a:hover,
.sidebar .btn a:focus {
  -webkit-box-shadow: 0 0 3px 1px #f05837;
          box-shadow: 0 0 3px 1px #f05837;
  outline: none;
}

.sidebar .btn:active,
.sidebar .btn a:active {
  -webkit-box-shadow: 0 0 10px 1px #f05837;
          box-shadow: 0 0 10px 1px #f05837;
}

.sidebar .interesting {
  margin-bottom: 51px;
  margin-left: 4px;
}

.sidebar .interesting .interesting-list {
  margin-top: 15px;
  padding: 0;
}

.sidebar .interesting li {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  display: block;
  position: relative;
  padding-left: 15px;
}

.sidebar .interesting li::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 2px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 5px solid #6d6d6d;
  border-bottom: 3px solid transparent;
}

.sidebar .interesting p {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgba(58, 58, 58, 0.8);
  padding-right: 3.0303%;
}

.sidebar .interesting p a {
  color: rgba(58, 58, 58, 0.8);
}

.sidebar .interesting a:hover,
.sidebar .interesting a:focus {
  color: #f05837;
}

.sidebar .interesting .small {
  margin-top: -2px;
  margin-left: -1px;
  font-size: 0.625rem;
  line-height: 1.25rem;
  color: rgba(126, 126, 126, 0.8);
}

.sidebar .tags {
  margin-left: 5px;
  padding-right: 13.63636%;
}

.sidebar .tags ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin-top: 12px;
  margin-left: -2px;
}

.sidebar .tags .btn {
  padding: 6px 15px;
}

.sidebar .tags li {
  display: inline-block;
  list-style: none;
  margin-bottom: 8px;
  margin-right: 5px;
}

.sidebar .tags li a {
  display: inline-block;
}

.sidebar .italic {
  font-style: italic;
}
