header {
	background-image: url('../img/header-bg.jpg');
  padding-top: 0;
  margin: 0;
  width: 100%;
  margin-bottom: 28px;
  padding-bottom: 47px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing:border-box;
  box-shadow: 
    inset rgba(53,53,51,0.3) 0 0 0 100px,
    rgba(53,53,51,0.3) 0 0 0 5px;
  .wrapper {
    position: relative;
    display: flex;
    //flex-wrap: wrap;
    
    //align-items: center;
    justify-content: flex-start;

  }

}

.logo {
  width: 209/980*100 * 1%;
  min-width: 115px;
  max-width: 209px;
  padding-top: 3px;
  padding-bottom: 9px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 24/16 * 1rem;
  font-weight: bold;
  color: #fff;
  background-color: $orange;
  @media(min-width: 750px) and (max-width:785px) {
    width: 115px;
  }
    @media(max-width: 749px) {
    min-width: 0;
    max-width: 100%;
   width: 100%;
   text-align: center;
  }

}

.top-line {
  background: url('../img/menu-bg.png') repeat right center;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 100%;
  &:before {
    content: '';
    background-color: $orange;   
    flex-grow: 1;
    flex-shrink: 1;
  }
    &:after {
    content: '';
    background: none; 
    flex-grow: 1;
    flex-shrink: 1;
  }
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ label[for="menu-switch"] {
  
}

#menu-switch:checked ~ .main-menu {
  display: block;
}
.burger {
  text-shadow: 1px 1px 5px black;
  font-size: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 40px;
  height: 40px;

  @media(min-width: 750px) {
    display: none;
  }
}

