.cards {
	position: relative;
	&::after {
		content: '';
		display: block;
		width: 619/630*100 * 1%;
		margin: 0 auto;
		height: 2px;
		background-color: $content-bg;
		position: absolute;
		bottom:-4px;
		left: (100 - (619/630*100))/2 * 1%;
		z-index: -1;
		border-bottom: 1px solid #d7d7d7;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
	}

	&::before {
		content: '';
		display: block;
		width: 609/630*100 * 1%;
		margin: 0 auto;
		height: 2px;
		background-color: $content-bg;
		position: absolute;
		bottom:-7px;
		left: (100 - (609/630*100))/2 * 1%;
		z-index: -1;
		border-bottom: 1px solid #d7d7d7;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
	}
}