@font-face {
font-family: 'Myriad Pro Regular';
src: url('../fonts/MyriadPro-Regular.eot');
src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/MyriadPro-Regular.woff') format('woff'),
url('../fonts/MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}